.main-voting-card{
  
}

.main-card-desc{
  font-weight: bold;
}

.main-card-startdate{
  font-size: 0.8rem;
  color:gray;
}

.main-card-enddate{
  font-size: 0.8rem;
  color:gray;
}

li {
  text-align: left
}